@import "template.scss";

:root {
  background: $black;
}

body {
  width: inherit;
  height: inherit;
  @include flex-column;
  justify-content: center;
  align-items: center;
}

/* texts */

.title {
  @include heading-medium;
  margin-bottom: 1rem;
  color: grey;
}
.password-input {
  @include heading-medium;
}

.grey-box {
  width: 30rem;
  height: auto;
  padding: 2rem;
  background: $light-black;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 450px) {
  .grey-box {
    width: 21rem;
  }
}

.image-collection {
  @include flex-row;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  @include body;
}
.password-box {
  @include flex-row;
  justify-content: space-between;
}
.copied-text,
.img-green {
  display: none;
}
.copied-text {
  margin-right: 0.4rem;
}
.img-green:hover {
  display: block;
  cursor: pointer;
}
.img-empty {
  // display: block;

  path {
    fill: $light-grey;
  }

  // &:hover {
  //   display: none;
  //   cursor: pointer;
  //   ~ .img-green {
  //     display: block;
  //   }
  // }
}

/* second box */

.form-fill-box {
  @include flex-column;
}
.form-fill-box > div,
input {
  margin-bottom: 0.5rem;
}
.form-fill-box::last-child {
  margin-bottom: 0;
}

#length {
  &-value {
    font-size: 1.4rem;
  }
}
#length-number {
  accent-color: $green;
}

.strength-meter {
  @include flex-column;
}
.progress-bar-cover {
  @include flex-row;
  display: none;
  justify-content: space-between;
  background: $black;
  padding: 0.8rem 0.4rem;
}

.progress-bar-cover > h3:first-child {
  text-transform: uppercase;
  color: $grey;
  font-size: 0.8rem;
  margin-left: 1rem;
}
.progress-bar {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  width: 45%;
}

.checkboxes {
  @include flex-row;
  align-items: center;
}
.checkboxes label {
  padding-left: 1.5rem;
  position: relative;
  @include flex-row;
  align-items: center;
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + .checkmark {
      background: $green;
      border: none;
    }
    &:checked + .checkmark::after {
      display: block;
    }
  }
}

.checkmark {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 0.1rem solid $light-grey;

  &:hover {
    cursor: pointer;
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-right: 0.1rem solid $black;
    border-bottom: 0.1rem solid $black;

    transform: translate(-50%, -50%) rotate(45deg);
    width: 0.2rem;
    height: 0.5rem;
    background: transparent;
  }
}

.description {
  width: 7rem;
  text-align: right;
}
.line {
  height: 1.2rem;
  width: 0.5rem;
  border: 0.05rem solid $light-grey;
  background: transparent;
  margin-right: 0.4rem;
}
.progress-bar-too-weak,
.progress-bar-weak,
.progress-bar-medium,
.progress-bar-strong {
  @include flex-row;
}

.character-length {
  @include flex-row;
  justify-content: space-between;
}
.too-weak {
  background-color: $red;
  border: none;
}
.weak {
  background-color: $orange;
  border: none;
}
.medium {
  background-color: $yellow;
  border: none;
}
.strong {
  background-color: $green;
  border: none;
}
#generate {
  @include flex-row;
  justify-content: center;
  align-items: center;
  background: $green;
  border: 0.1rem solid $black;

  margin-top: 0.2rem;
  padding: 1rem 0;
}
#generate p {
  margin-right: 1rem;
  color: $black;
}
#generate:hover {
  cursor: pointer;

  p {
    color: $green;
  }
  svg path {
    fill: $green;
  }

  background: transparent;
  border: 0.1rem solid $green;
}
