@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

/* colors*/
$black: #18171f;
$light-black: #24232c;
$grey: #817d92;
$light-grey: #e6e5ea;
$green: #a4ffaf;
$red: #f64a4a;
$orange: #fb7c58;
$yellow: #f8cd65;

$font: "JetBrains Mono", monospace;

/* fonts */
@mixin heading-large {
  font-family: $font;
  font-size: 2rem;
  line-height: 2.6875rem;
}
@mixin heading-medium {
  font-family: $font;
  font-size: 1.5rem;
  line-height: 1.9375rem;
}
@mixin body {
  font-family: $font;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}
